<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  
  <title>
    Enhatch Box Auth Demo
  </title>
</head>

<body>
  <p>
    {% if boxuser %}
      Hello, {{ boxuser.name }}!
    {% else %}
      Hello! Please <a href="{% url 'box:auth' %}">login with Box</a>.
    {% endif %}
  </p>
  Your Home Folder
  <ul>
    {% for item in folder_items %}
      <li>
        {{ item.type }}: {{ item.name }}
      </li>
    {% endfor %}
  </ul>
  {% for other in others %}
    {{ other.boxuser.name }} Home Folder
    <ul>
      {% for item in other.folder_items %}
        <li>
          {{ item.type }}: {{ item.name }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</body>

</html> 
